:root {
  --bs-success: #323232;
  --bs-info: #222222;
  --bs-dark: #161617;
  --bslight: #ffffff;
  --bs-primary: #b8ffcc;
  --bs-secondary: #6a9275;
  --Noto: "NotoSans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");

/*------------- Styles Généraux -------------*/

* {
  font-family: var(--Noto);
}

h1,
.h1 {
  font-size: 55px;
  font-weight: 400;
  color: var(--bs-light);
}

h2,
.h2 {
  font-size: 80px;
  font-weight: 700;
  color: var(--bs-primary);
}

h3,
.h3 {
  font-size: 48px;
  font-weight: 700;
  color: var(--bs-secondary);
}

h4,
.h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--bs-dark);
}

h5,
.h5 {
  font-size: 15px;
  font-weight: 700;
  color: var(--bs-light);
}

h6,
.h6 {
  font-size: 12px;
  font-weight: 700;
  color: var(--bs-light);
}
