:root {
  --bs-success: #323232;
  --bs-info: #222222;
  --bs-dark: #161617;
  --bs-light: #ffffff;
  --bs-primary: #b8ffcc;
  --bs-secondary: #6a9275;
  --bs-warning: #f3fce9;
  --Noto: "NotoSans", sans-serif;
  --spacer: 1rem;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");

/*------------- Styles Généraux -------------*/
body {
  background-color: var(--bs-dark);
}

h3,
.h3 {
  text-decoration: underline;
  text-decoration-color: var(--bs-secondary);
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}

/*------------- Section Header -------------*/
.navbar {
  background-color: var(--bs-info);
  border-bottom: var(--bs-primary) solid 2px;
  margin-bottom: 58px;
}

.navbar-brand img {
  max-height: 25px;
}

/*------------- Section Héro -------------*/
div.hero {
  background-image: url("../assets/bg_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.hero .container {
  padding: 10% 0;
}

.hero h2 {
  line-height: 50px;
}

.hero p {
  font-size: 20px;
  color: var(--bs-light);

}

.hero strong {
  color: var(--bs-primary);
}

.hero button {
  border: 2px solid var(--bs-primary);
  border-radius: 100px;
  padding: 0.5rem 2rem;
  color: var(--bs-light);
  margin-top: 0;
  margin-bottom: 10%;
  font-weight: bold;
}

.hero button:active {
  background-color: var(--bs-secondary) !important;
  border: 2px solid var(--bs-secondary) !important;
}


.hero .cadre-telephone {
  width: 100%;
  aspect-ratio: 5/9;
  background-color: var(--bs-dark);
  box-shadow: 0 0 25px 2px var(--bs-primary);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--bs-primary);
}

.cadre-telephone iframe {
  width: 100%;
  aspect-ratio: 5/9;
}

/*------------- Section Features -------------*/
.card {
  margin-bottom: 1rem;
  border: none;
  color: var(--bs-dark);
}

.card-hr {
  border-top: 2px solid var(--bs-secondary);
}

.div-i {
  border: 2px solid var(--bs-secondary);
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  padding: 1.5rem;
  margin-right: 1rem;
  color: var(--bs-secondary);
  font-size: 2rem;
}

.div-i i {
  color: var(--bs-secondary);
  font-size: 1.5rem;
  padding-top: 2px;
}

/*------------- Section View More -------------*/

.section-view-more {
  background-color: var(--bs-warning);
}

.arrow {
  color: var(--bs-secondary)
}

.swiper-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.swiper-container .swiper-button-prev {
  left: -40px;
}

.swiper-container .swiper-button-next {
  right: -40px;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  opacity: .5;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide-active img {
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  background-color: green;
  box-sizing: border-box;
}
/*-- Border téléphone créer par : /codepen.io/odil-io/pen/JZrRMX --*/

.phone,
.phone img {
  height: 100%;
}

.phone {
  position: relative;
}

.phone .notch-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
}

.phone .notch-container .notch {
  width: 20vh;
  height: 3.75vh;
  margin: 0 auto;
  background-color: #111;
  border-bottom-left-radius: 2.334vh;
  border-bottom-right-radius: 2.334vh;
}

.phone img {
  display: block;
  border: 1.334vh solid #111;
  border-radius: 4.5vh;
  background-color: #111;
}

/*------------- Section Testimonials -------------*/

.section-testimonials {
  color: var(--bs-light);
  background-color: var(--bs-success);
}

.section-testimonials h3 {
  text-decoration-color: var(--bs-primary);
  color: var(--bs-primary);
}

.section-testimonials img {
  height: 25vh;
  object-fit: cover;
  object-position: 50% 50%;
}


.section-testimonials .card {
  box-shadow: 10px 10px 10px var(--bs-dark);
  color: var(--bs-dark);
}

.section-testimonials .card:last-child {
  margin-bottom: calc(16px * 3);
}

.section-testimonials .card-body {
  min-height: 200px;
}

.section-testimonials .div-i {
  background-color: var(--bs-secondary);
  border: 0;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 1.5rem;
  margin: 0;
}

.section-testimonials .div-i i {
  color: var(--bs-light);
}


/*------------- Section Infolettre -------------*/

#savoirplus .col {
  position: relative;
  box-shadow: 10px 10px 10px var(--bs-dark);
  background-color: #ffffffee;
  border-radius: 1rem;
}

#savoirplus button {
  border: 2px solid var(--bs-secondary);
  font-weight: bold;
  border-radius: 100px;
  color: var(--bs-light);
}

#savoirplus {
  position: relative;
  overflow: hidden;
}

#savoirplus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/bg_infolettre.jpg);
  background-size: cover;
  background-position: 50% 50%;
  filter: hue-rotate(315deg) saturate(50%) blur(3px);
}

/*------------- Section Infolettre - Modale -------------*/

.modal i {
  position: absolute;
  top: 34%;
  left: 1.75rem;
  color: var(--bs-secondary)
}

.modal #inputEmail {
  padding-left: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.modal .btn {
  border: 2px solid var(--bs-secondary);
}

.modal .btn.annuler:hover {
  border: 2px solid var(--bs-dark);
  background-color: transparent;
  color: var(--bs-dark)
}


/*------------- Section Footer -------------*/
footer {
  padding: 1rem;
  background-color: var(--bs-secondary);
  color: var(--bs-light);
  margin-top: 1rem;
}

footer a {
  color: var(--bs-light);
  text-decoration: none;
}

footer a:hover {
  color: var(--bs-primary);
  text-decoration: underline;
}