:root {
  --gris: #323232;
  --grisfonce: #222222;
  --noir: #161617;
  --blanc: #ffffff;
  --vertpale: #b8ffcc;
  --vertfonce: #6a9275;
  --Noto: "NotoSans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");

/*------------- Styles Généraux -------------*/
body{
  background-color: var(--noir);
  padding-top: 65px;
}

footer{
  padding: 1rem;
  background-color: var(--grisfonce);
}

.navbar{
  background-color: var(--grisfonce);
}

.logo{
  max-width: 134px;
}

.profil{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50px;
}

.barre{
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  background-color: var(--gris);
  width: 2.5px;
  height: 42px;
}

.projet{
  color: var(--blanc);
  font-weight: 100;
  font-size: 15px;
}

.form-control{
  border-color: var(--vertpale);
  border-radius: 50px;
}

.form-control::placeholder{
  color: var(--blanc);
}

.navbar-toggler-icon{
  width: 24px;
}

.navbar-toggler{
  border: none;
}
/*------------- Section Héro -------------*/
